@model IEnumerable<HDA.Core.Models.HDAReports.DataRefreshProcedureStatus>
@{
    ViewBag.Title = "Index";
}

    <div class="row" style="padding-top:50px;">
        <div class="col-md-12">
            <div class="card border border-primary" style="min-height: 100px;">
                <div class="card-header bg-primary text-white">
                    Execute Procedures
                </div>
                <div>
                    <table class="table">
                        <tr>
                            <th>
                                <input type="checkbox" id="checkAll" />
                            </th>
                            <th>
                                Id
                            </th>
                            <th>
                                Procedure Name
                            </th>
                            <th>
                                Procedure Detail
                            </th>
                            <th>
                                Run Start Time
                            </th>
                            <th>
                                Run End Time
                            </th>
                            <th>
                                Procedure Status
                            </th>
                        </tr>
                        @foreach (var param in Model)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" class="checkBox"
                                           value=@param.Id />
                                </td>
                                <td>
                                    @Html.DisplayFor(x => param.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(x => param.ProcedureName)
                                </td>
                                <td>
                                    @Html.DisplayFor(x => param.ProcedureDetail)
                                </td>
                                <td>
                                    @Html.DisplayFor(x => param.ProcedureStartime)
                                </td>
                                <td>
                                    @Html.DisplayFor(x => param.ProcedureEndDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(x => param.ProcedureStatus)
                                </td>

                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="col-md-4">
        <input type="button" id="executeProc" class="btn btn-info" value="Execute Selected Procedures" />
    </div>






        @section Scripts {
            <script type="text/javascript">

                $(document).ready(function () {

                    $("CheckAll").click(function () {
                        $(".checkBox").prop('checked',
                            $(this).prop(checked));
                    });


                    $("#executeProc").click(function () {
                        var selectedIDs = new Array();
                        $('input:checkbox.checkBox').each(function () {
                            if ($(this).prop('checked')) {
                                selectedIDs.push($(this).val());
                            }
                        });


                        var options = {};
                        options.url = "/RefreshData/RunProcedure";
                        options.type = "POSt";
                        options.data = JSON.stringify(selectedIDs);
                        options.contentType = "application/json";
                        options.dataType = "json";
                        options.success = function (msg) {
                            alert(msg);
                        };
                        options.error = function () {
                            alert("Error Running the stored procedure");

                        };
                        $.ajax(options);
                    });

                });




            </script>
        }


