
@model  HDA.Core.ViewModels.RefreshViewModel


@{
    ViewBag.Title = "Index";
}
<div class="row" style="padding-top:50px;">
    <div class="col-md-12">
        <div class="card border border-primary" style="min-height: 100px;">
            <div class="card-header bg-primary text-white">
                Execute Procedures
            </div>
            <div>
                <table class="table">
                    <tr>
                        <th>
                            <input type="checkbox" id="checkAll" />
                        </th>
                        <th>
                            Id
                        </th>
                        <th>
                            Procedure Name
                        </th>
                        <th>
                            Procedure Detail
                        </th>

                    </tr>
                    @foreach (var param in Model.DataRefreshProcedures)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" class="checkBox"
                                       value=@param.Id />
                            </td>
                            <td>
                                @Html.DisplayFor(x => param.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(x => param.ProcedureName)
                            </td>

                            <td>
                                @Html.DisplayFor(x => param.ProcedureDetail)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="col-md-4">
    <input type="button" id="executeProc" class="btn btn-info" value="Execute Selected Procedures" />
</div>
<div id="divProcessing">
    <p>Processing, please wait . . . <img src="../../Content/ajax-loader.gif"></p>
</div>


<br />
<br />
<div class="row" style="padding-top:50px;">
    <div class="col-md-12">
        <div class="card border border-primary" style="min-height: 100px;">
            <div class="card-header bg-primary text-white">
                Executed Procedures Log
            </div>
            <div>
                <table class="table">
                    <tr>

                        <th>
                            Id
                        </th>
                        <th>
                            Procedure Name
                        </th>
                        <th>
                            Procedure StarTime
                        </th>
                        <th>
                            Procedure EndTime
                        </th>
                        <th>
                            Procedure Status
                        </th>

                    </tr>
                    @foreach (var param in Model.DataRefreshProcedureStatuss)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(x => param.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(x => param.ProcedureName)
                            </td>

                            <td>
                                @Html.DisplayFor(x => param.ProcedureStartime)
                            </td>
                            <td>
                                @Html.DisplayFor(x => param.ProcedureEndDate)
                            </td>
                            <td>
                                @Html.DisplayFor(x => param.ProcedureStatus)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {

            $("#divProcessing").hide();

            $("CheckAll").click(function () {
                $(".checkBox").prop('checked',
                    $(this).prop(checked));
            });


            $("#executeProc").click(function () {
                var selectedIDs = new Array();
                $('input:checkbox.checkBox').each(function () {
                    if ($(this).prop('checked')) {
                        selectedIDs.push($(this).val());
                    }
                });
                $("#divProcessing").show();

                var options = {};
                options.url = "/RefreshData/RunProcedure";
                options.type = "POSt";
                options.data = JSON.stringify(selectedIDs);
                options.contentType = "application/json";
                options.dataType = "json";
                options.success = function (msg) {
                    $("#divProcessing").hide();
                    alert(msg);
                };
                options.error = function () {
                    alert("Error Running the stored procedure");

                };
                $.ajax(options);
            });

        });




    </script>
}

